body {
  background-color: azure;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.App {
  height: 100%;
  text-align: center;
}

.filter {
  margin: 24px;
  font-size: 26px;
  min-width: 80px;
  min-height: 40px;
}

.field {
  margin: 12px;
  font-size: 20px;
  min-width: 60px;
  min-height: 30px;
}

form {
  border-bottom: 2px inset #61dafb;
  box-shadow: rgba(26, 74, 231, 0.466) 1px 1px 1px;
}

.todos {
  padding: 12px;
  display: flex;
  flex-direction: column;
  min-height: 50px;
  align-items: center;
}

.todo {
  margin: 10px;
  width: 480px;
  border: 1px outset grey;
  box-shadow: inset #35f1f19e -4px -4px 19px 0px;
}

.btn-todo {
  margin: 10px;
  min-height: 30px;
  min-width: 70px;
  box-shadow: #0c404e 1px 1px 1px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.todos__done{
  text-decoration: line-through;
}
